<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= Title %> | DBH Status
    </title>
    <link rel="icon"
        href="https://cdn.discordapp.com/avatars/640161047671603205/718aa5783508125a02e3b244a1bf096e.webp?size=80"
        type="image/x-icon">
    <link rel="shortcut icon"
        href="https://cdn.discordapp.com/avatars/640161047671603205/718aa5783508125a02e3b244a1bf096e.webp?size=80"
        type="image/webp">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dosis&display=swap" rel="stylesheet">
</head>

<body>

    <div class="header">
        <div class="nav">
            <li><a href="/"><img
                        src="https://cdn.discordapp.com/avatars/640161047671603205/718aa5783508125a02e3b244a1bf096e.webp?size=80"></a>
            </li>
            <li><a href="/">Home</a></li>
            <li><a href="/status">Status</a></li>
            <li><a href="https://github.com/cyanide1x/dbhstatus" target="_blank">Github</a></li>
            <li><a href="https://danbot.host/discord" target="_blank">Discord</a></li>
        </div>
    </div>

    <!-- Styling for the page -->
    <style>
        body {
            padding: 0;
            margin: 0;
            font-family: 'Dosis', sans-serif;
        }

        .header {
            background-color: #17191d;
        }

        .nav {
            padding-top: 3.5vh;
            padding-bottom: 3.5vh;
        }

        .nav li {
            list-style: none;
            display: inline;
            padding-left: 25pt;
            font-size: 3vh;
        }

        .nav li a {
            text-decoration: none;
            color: #fff;
            transition: 0.5s;
        }

        .nav li a:hover {
            color: rgb(0, 81, 255);
        }

        .nav img {
            height: 40px;
            width: 40px;
            border-radius: 50%;
            vertical-align: -50%;
        }

        .nav img a {
            text-decoration: none;
        }
    </style>

</body>

</html